<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <STyle>
          


           .msg{
               text-align: center;
                margin-top: 50;
                margin-left: 100;
                margin-right: 100;
           }
body{
    background-image: url("https://github.com/Swapna02/Quarantine_time/blob/master/public/images/bg2.jpg?raw=true");
    background-repeat: no-repeat;
    background-size:cover;

}

           * {
  box-sizing: border-box;
}
input[type=email],[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid dodgerblue;
  resize: vertical;
  margin-left: 50px;
  color: dodgerblue;
  border-radius: 25px;
}
input[type=submit] {
  background-color:dodgerblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: dodgerblue;
}

.container {
  border-radius: 5px;
  background-color:rgb(192, 195, 197);
  padding: 20px;
  width: 500px;
  height: 300px;
  margin-left: 150px;
  margin-top: 150px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
  .col-75, input[type=submit] {
    width: 50%;
    margin-top: 0;
  }
}
.imgtv{
    background-color: rgb(41, 76, 104);
    width: 100%;
    margin-left: -20;
    top: 32%;
    position: absolute;
    margin-bottom: 10;
    margin-top: 10;
}
.imgsym{
    width: 47%;
    position: relative;
    padding: 30px;
    height: 400px;
}
.covidmsg{
    position: absolute;
    margin-top: 70;
    width: 500;
    float: right;
    border-radius: 50%;
    margin-right:827 ;
    left: 230px;
    background-color:rgb(228, 222, 252);
}
.tbmsg{
    margin-top: 200px;
    margin-left: 82px;
}
.btm_bar{
    height: 30px;
    color: azure;
    font-size: 20px;
}
.syi{
               text-align: center;
               margin-top: 30px;
               margin-left: -25;
               margin-bottom: -30px;
           }
           .modal-content {
               
    background-color: rgb(0,0,0,0.6);
    margin: 15% auto 15% auto;
    border: 1px solid #888;
    width: 30%; 
    z-index: 1;
	padding-bottom: 30px;
    padding-top: -10;
}
.modal-content2 {
               
               background-color: rgb(0,50,50,0.7);
               margin: 5% auto 15% auto;
               border: 1px solid #888;
               width: 35%; 
               z-index: 1;
             padding-bottom: 30px;
               padding-top: -5;
           }
.signupbtn{
    position: absolute;
    right: 36%;
    border: 0px;
    color: white;
    background-color: dodgerblue;
    top: 80%;
}

div.modal input[type=text],div.modal input[type=password],div.modal input[type=tel] {
    width: 80%;
    padding: 10px 20px;
    margin: 14px 26px 10px 4px;
    margin-left: 25px;
    border-radius: 25px;
    display: inline-block;
    border: 1.5px solid dodgerblue;
    box-sizing: border-box;
	font-size:16px;
}

.container2{
  display:table;
  padding:5px;
  margin:70px;
  margin-left: 100px;
  width: 60%;
  text-align: center;
  margin-top: 25px;
}
.container1{
  display:table;
  padding:5px;
  margin:20px;
  margin-top: -20px;
}
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(52, 150, 101, 0.05);
}
/* For big zoom in img */
.ovimg{
    margin-top: 150px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 15.2%;
    top: 10%;
    color:white;
    font-size: 35px;
    font-weight: bold;
}
.close_login {
    position: absolute;
    right: 36.2%;
    top: 29%;
    z-index: 2;
    font-weight: bold;
    color:dodgerblue;
    font-size: 35px;
}
.close:hover,.close:focus,.close_login:hover,.close_login:focus {
    color: red;
    cursor: pointer;
}
.p_syi{
  color:yellow;
  font-weight: 2px;
  text-align: center;
  font-size: 24px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 20px;
}
.select_style{
    color: dodgerblue;
    font-size: 10px;
    padding: 6px;
    padding-bottom: 8px;
    padding-left: 15px;
    width: 100%;
    border-radius: 0%;
    margin: 10px;
}
.form-control::-webkit-input-placeholder {
  color:dodgerblue;
  opacity: 0.4;
}
.others {
    color:dodgerblue;
}
.uploaded_file{
    padding: 10px;
    width: 70%;
    background-color: white;
    border-radius: 40px;
    text-align: left;
    font-size: 10px;
    
}

.upload{
    padding: 5px;
    width: 25%;
    float: right;
    margin-right: -9;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    font-size: 13px;
}

        </STyle>
    </head>
    <body>           
<div id="profile-wrapper" class="modal" style="display: block;">
    <nav class="navbar navbar-dark bg-primary">
        <nav class="navbar navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav" >
                <a class=" nav-item nav-link active  "  href="/">
                QURANTINE-TIME
                </a>
            </div>
        </nav> 
        <nav  class="navbar navbar-expand-lg navbar-light bg-primary">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
              <div class="navbar-nav" >
                  <!-- <a class="nav-item nav-link  " href="/">HOME </a> -->
                  <% if (!user){ %>
                      <a class="nav-item nav-link " onclick=" document.getElementById('login-wrapper').style.display='block'" style="display:block;" href="#">FEED </a>
                      <% } else { %>
                      <a class="nav-item nav-link active" style="display:block;" href="/feed">FEED </a>
                      <% } %>
                  <a class="nav-item nav-link" href="/news">NEWS</a>
                  <a class="nav-item nav-link " href="/Explore">EXPLORE <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="/Gallery">GALLERY</a>
              </div>
          </div>            
      </nav>
    </nav>

   
   
    <form class="modal-content2" form action="/Gallery" method="POST" enctype="multipart/form-data" style="height: 700px; width: 550px;"  >
      <span onclick="window.location.href='/'" class="close_login" title="Close Modal" style="top: 24%;right:34%">&times;
      </span>  
          <div >
               <h3 class="p_syi" >
                    <label for="hedadings" style="border-bottom: 1px solid yellow;">Share your idea</label>
                </h3>
          </div>
          <div class="container2">
            
                <!-- <form action="/Gallery" method="POST" > -->
                    <select class=" select_style" id="myselector"name="selection" >
                        <option selected  class="others" value="null"style="opacity: 0.5;">Select a category</option>
                        <option value="FOOD" class="others">food</option>
                        <option value="ART" class="others">art</option>
                        <option value="CRAFT" class="others">craft</option>
                        <option value="WORKOUT" class="others">workout</option>
                        <option value="OTHER" class="others">other</option>
                    </select>
                        <br>
                        <div class="form-group">
                            <textarea class="form-control select_style" style="font-size: 14px;" id="exampleFormControlTextarea1" name="text" rows="6" placeholder="Type Something"></textarea>
                        </div>
                        <div style="width: 100%; margin-left: -1px;">
                            <label for="uploaded_file" class="uploaded_file" id="upload_img">Upload image or video</label>
                            <label class="btn btn-default upload"  >
                                Upload <input type="file" id="Upld" onchange="Changefunc()" name="file" hidden>
                            </label>
                        </div>
                        <button type="submit" id="submit" class="btn btn-primary btn-sm btn-block" style="border-radius: 40px; margin-left: 10px; margin-top: 10px; padding: 5px;">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
                            </svg>
                        </button>
                <!-- </form> -->
          </div>
    </form> 
    
    <nav class="navbar sticky-bottom navbar-light bg-primary" style="margin-top: 0%;">
      <ul class="nav" >
          <li class="nav-item ">
            <a class="nav-link" style="color: white;" href="/About">About</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" style="color: white;" href="/Explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="/Developer">Developers</a>
          </li>
            <li class="nav-item" >
              <a class="nav-link" style="color: white;" href="/Help">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/Privacy">Privacy</a>
            </li>
        </ul>
        <ul class="justify-content-end">
          <svg class="bi bi-arrow-up-square-fill sarrow"  style="margin-top: 12px;" width="2em" height="2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
            </svg>
        </ul>
    </nav>
 
</div>                     
<% if(msg !=''){ %> 
    <div id="msg-wrapper" class="modal" style="display: block;" >
        <span onclick="document.getElementById('msg-wrapper').style.display='none'" class="close_login" style="color: black; margin-right: 15px;" title="Close Modal">&times;</span>
       <div class="modal-content" style="background-color:unset;">
        <div class="container1" style=" height: 130px;border: 1px solid dodgerblue; margin-top: -5px; background-color: rgb(206, 240, 250); ">
            <h3 style="background-color:dodgerblue;padding: 4px;">Alert message</h3>
            
            <h6 ><%= msg %></h6>
            
          </div>
       </div>
         </div>
         <% } %> 

<!-- <div id="modal-wrapper" class="modal">
    <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close Modal">&times;</span>
   
    <div class="media ovimg">
        <img src="C:\Users\Asus\Desktop\QUARTINE TIME\QR-materials\QR-materials\COVID-CHILD.png" class="align-self-center mr-3 bgv" 
        alt="...">
        <div class="media-body">
        </div>
    </div>

    <div class="card w-75 " style="margin-left: 200;margin-bottom: 100px;">
        <div class="media">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
      </div>
      
      <nav class="navbar sticky-bottom navbar-light bg-primary">
        <ul class="nav" >
            <li class="nav-item ">
              <a class="nav-link" style="color: white; href="#">About</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" style="color: white; href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white; href="#">Developers</a>
            </li><li class="nav-item ">
                <a class="nav-link active" style="color: white; href="#">Channels</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" style="color: white; href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white; href="#">Privacy</a>
              </li>
              <ul class="nav justify-content-end" style="float: right;">
                  <li style="float: right; margin-left: 1450px; margin-top: -35px;">
                    <svg class="bi bi-arrow-up-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg" >
                        <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                    </svg>
                </li>
              </ul>
          </ul>
      </nav>
</div> -->
          
<!-- <div id="login-wrapper" class="modal">
    <span onclick="document.getElementById('login-wrapper').style.display='none'" class="close_login" title="Close Modal">&times;</span> -->
   
    <!-- <form class="modal-content"   >
        <div class="container1">
          <h3 class="syi">Share your idea</h3>
          <br>
          <input type="text" placeholder="Enter Name" name="name" id="name" required>
          <br>
          <input type="password" placeholder="Enter Password" name="pswd" id="p" required>
          <br>
          <button type="button" class="signupbtn" onclick="regvalidate()">Create my space</button>
        </div>
    </form> 
      <nav class="navbar sticky-bottom navbar-light bg-primary">
        <ul class="nav" >
            <li class="nav-item ">
              <a class="nav-link" style="color: white; href="#">About</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" style="color: white; href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white; href="#">Developers</a>
            </li><li class="nav-item ">
                <a class="nav-link active" style="color: white; href="#">Channels</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" style="color: white; href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white; href="#">Privacy</a>
              </li>
              <ul class="nav justify-content-end" style="float: right;">
                  <li style="float: right; margin-left: 1450px; margin-top: -35px;">
                    <svg class="bi bi-arrow-up-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg" >
                        <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                    </svg>
                </li>
              </ul>
          </ul>
      </nav>
</div> -->
 
        <script>
         // If user clicks anywhere outside of the modal, Modal will close
         
         var modal = document.getElementById('modal-wrapper');
         window.onclick = function(event) {
             if (event.target == modal) {
                 modal.style.display = "none";
             }
         }
         var modal = document.getElementById('login-wrapper');
         window.onclick = function(event) {
             if (event.target == modal) {
                 modal.style.display = "none";
             }
         }

         function Changefunc() {
                var input = document.getElementById('Upld');
                var v=input.files[0].name;
                // console.log(v);
                document.getElementById('upload_img').innerHTML =  "Uploaded  "+v ;
               
              }
              
$('#mySelector').on('change', function() {
    return $(this).css('color', 'blue');
  
});
        
        // function doPost(form)
        // {
        //   $.ajax({
        //     url:"/Gallary",
        //     method:"POST",
        //     data:{username:user,content:form.content.value},
        //     success: function(response)
        //     {
        //       alert(response);
        //     }
        //   });
        //   return false;
        // }
        
        
        </script>
         

    </body>
</html>
